<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="salesassistant.com.salesassistant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ClientsActivity"
            android:label="@string/clients_manage" />
        <activity
            android:name=".activity.ProductsActivity"
            android:label="@string/products_manage" />
        <activity
            android:name=".activity.SalesActivity"
            android:label="@string/main_title" />
        <activity android:name=".activity.ClientDetailsActivity" />
        <activity android:name=".activity.ProductDetailsActivity" />
        <activity android:name=".activity.SaleDetailsActivity"></activity>
    </application>

</manifest>
